@charset "utf-8";

.header {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
    background: #1a6ccc;
}

.header .nv {
    margin-left: auto;
}
